{% extends "main/base/base.html" %}
{% load static %}

{% block content %}
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						{% for slide in slides %}
							<div class="item">
								<a href="#">
									<img src="{{ slide.image.url }}" alt="Slide Image">
									<div class="slider-copy">
										<h2>{{ slide.title }}</h2>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Work</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-carousel">
							{% for picture in pictures %}
								<div class="item">
									<div class="gtco-item">
										<a href="#"><img src="{{ picture.image.url }}" alt="" class="img-responsive"></a>
										<h2><a href="#">{{ picture.place_of_interest }}</a></h2>
										<p class="role">{{ item.location }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Work -->
{% endblock %}
		


